.sw-product-image {
    .sw-product-image__flip-label {
        position: absolute;
        bottom: 5px;
        right: 5px;
        margin: 0;
        text-align: center;
    }

    .sw-product-image__context-photo-label {
        position: absolute;
        bottom: 5px;
        left: 5px;
        margin: 0;
        text-align: center;
    }
}
